.left {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: fit-content;
}
.left img {
  width: 260px;
  height: auto;
  object-fit: contain;
}
.left img.logo {
  width: 260px;
  height: auto;
  object-fit: contain;
}
